<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--  <link rel = "stylesheet" type = "text/css" href = "commonstyle.css" />
  --></head>
  </head>

  <body>
    <%=render 'layouts/messages' %>
    <%= yield %>
  <div>
    <footer> Thank you for visiting.</footer>
  </div>
  </body>
</html>
